.suggestions {
    max-width: 350px;
    background: white;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    border:1px solid #ccc;
    position:absolute;
    top:50px;
    left:0px;
    padding:10px;
    z-index: 10;
}
.suggestionsItem {
    cursor: pointer;
    list-style-type: none;
}
.dropdownContainer{
    position: relative;
}